<!DOCTYPE html>
<head>
    <title>Carga monumentos</title>
    
</head>
<body>
    <div class="container">
        <div class="load_container">
            <h1>Carga del almacén de datos</h1>
            <div class="form_container">
                <h3>Selecciona fuente:</h3>
                <form id="load_form">
                    <input type="checkbox" id="all" name="todas" value="Seleccionar todas">
                    <input type="checkbox" id="castilla" name="castilla" value="Castilla y León">
                    <input type="checkbox" id="valencia" name="valencia" value="Comunitat Valenciana">
                    <input type="checkbox" id="eus" name="euskadi" value="Euskadi">
                    <div class="buttons">
                        <button type="submit" class="cancel-btn">Cancelar</button>
                        <button type="submit" class="submit-btn">Cargar</button>
                        <button type="submit" class="delete-btn">Borrar almacén de datos</button>
                    </div>
                </form>
            </div>
            <div class="results">
                <h3>Resultados de Carga</h3>
                <div class="result-container">

                </div>
            </div>
        </div>
    </div>
</body>