<!DOCTYPE html>
<html>
    <head>
        <title>Buscar monumentos</title>
        <link rel="stylesheet" href="/static/style_search.css">
    </head>
    <body>
        <h1>Buscador de monumentos de intéres cultural</h1>
        <div class="container">
            <div class="search">
                <div class="form">
                    <form id="searchForm" method="post" action="/search/search/">
                        <label for="locality">Localidad:</label>
                        <input type="text" id="locality" name="locality"><br>

                        <label for="zip-code">Código postal:</label>
                        <input type="text" id="zip-code" name="zip-code"><br>

                        <label for="province">Provincia:</label>
                        <input type="text" id="province" name="province"><br>

                        <select name="monument_type">
                            <option value="Yacimiento_arqueológico">Yacimiento arqueológico</option>
                            <option value="Iglesia_Ermita">Iglesia-Ermita</option>
                            <option value="Monasterio_Convento">Monasterio-Convento</option>
                            <option value="Castillo_Fortaleza_Torre">Castillo-Fortaleza-Torre</option>
                            <option value="Edificio_singular">Edificio singular</option>
                            <option value="Puente">Puente</option>
                            <option value="Otros">Otros</option>
                        </select><br>

                        <div class="buttons">
                            <button type="reset" class="cancel-btn">Cancelar</button>
                            <button type="submit" class="submit-btn">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="map" id="map"></div>
            </div>
            <div class="results">
                <h4>Resultados de la búsqueda:</h4>
                <div class="result"></div>
            </div>
        </div>
        <script>           
            document.getElementById('searchForm').addEventListener('submit', async function(event){
                event.preventDefault();
                
                const formData = new FormData(this);
                const response = await fetch('/search/search', {
                    method: 'POST',
                    body: formData
                });

                const result = await response.json();
                const resultContainer = document.querySelector('.result');
                resultContainer.innerHTML = ''

                if(result.results && result.results.length > 0){
                    result.results.forEach(element => {
                        const resdiv = document.createElement('div');
                        resdiv.innerHTML = `<h5>${element.nombre}: </h5><p>${element.descripcion}</p><br>`;
                        resultContainer.appendChild(resdiv)
                    });
                } else {
                    resultContainer.innerHTML = '<p>No se encontraron resultados</p>';
                }

            })
        </script>
    </body>
</html>
