<!DOCTYPE html>
<html>
    <head>
        <title>Buscar monumentos</title>
        <link rel="stylesheet" href="../static/style_search.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    </head>
    <body>
        <h1>Buscador de monumentos de intéres cultural</h1>
        <div class="container">
            <div class="search">
                <div class="form">
                    <form id="searchForm" method="get">
                        <label for="locality">Localidad:</label>
                        <input type="text" id="locality" name="locality"><br>

                        <label for="zip_code">Código postal:</label>
                        <input type="text" id="zip_code" name="zip_code"><br>

                        <label for="province">Provincia:</label>
                        <input type="text" id="province" name="province"><br>

                        <select name="monument_type">
                            <option value="Yacimiento_Arqueologico">Yacimiento arqueológico</option>
                            <option value="Iglesia_Ermita">Iglesia-Ermita</option>
                            <option value="Monasterio_Convento">Monasterio-Convento</option>
                            <option value="Castillo_Fortaleza_Torre">Castillo-Fortaleza-Torre</option>
                            <option value="Edificio_Singular">Edificio singular</option>
                            <option value="Otros">Otros</option>
                        </select><br>

                        <div class="buttons">
                            <button type="reset" class="cancel-btn">Cancelar</button>
                            <button type="submit" class="submit-btn">Buscar</button>
                        </div>
                    </form>
                </div>
                <div class="map" id="map"></div>
            </div>
            <div class="results">
                <h4>Resultados de la búsqueda:</h4>
                <div class="result"></div>
            </div>
        </div>
        <script>  
            var map = L.map('map').setView([40.416775, -3.703790], 6);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
                maxZoom: 19,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map); 

            document.getElementById('searchForm').addEventListener('submit', async function(event){
                event.preventDefault();
                
                const formData = new FormData(this);
                const queryParams = new URLSearchParams();
                
                formData.forEach((value, key) => {
                    if(value !== '') queryParams.append(key, value);
                });
                const url = `http://127.0.0.1:7999/monuments/?${queryParams.toString()}`;

                const response = await fetch(url, {
                    method: 'GET',  
                });

                const result = await response.json();
                const resultContainer = document.querySelector('.result');
                resultContainer.innerHTML = ''

                if(result.results && result.results.length > 0){
                    const resdiv = document.createElement('div');
                    let table = `<table>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Tipo</th>
                                                <th>Dirección</th>
                                                <th>Cod.postal</th>
                                                <th>Descripción</th>
                                            </tr>`;
                    result.results.forEach(element => {
                        table+= `<tr>
                                                <td>${element.nombre}</td>
                                                <td>${element.tipo}</td>
                                                <td>${element.direccion}</td>
                                                <td>${element.codigo_postal}</td>
                                                <td>${element.descripcion}</td>
                                            </tr>`;
                        resultContainer.appendChild(resdiv)
                    });
                    table+='</table>';
                    resultContainer.innerHTML = table;
                    
                    const map_cards = `
                        <div class="map-cards">
                            <strong>${element.nombre}</strong>
                            <p>${element.descripcion}</p>
                        </div>
                    `;
                    L.marker([element.latitud, element.longitud]).addTo(map).bindPopup(map_cards, {minWidth: 200}).openPopup();
                } else {
                    resultContainer.innerHTML = '<p>No se encontraron resultados</p>';
                }


            })
        </script>
    </body>
</html>
